nav {
    display: grid;
    position: fixed !important; 
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1em 2em;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    z-index: 1000;
}
/* Style the links inside the navigation bar */
nav a {
    display: inline-block;
    color: var(--text-color-light);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: 2px solid var(--green);
    font-weight: 500;
    font-size: 1.2em;
    border-radius: 8px;
    transition: 0.5s;
}



/* Added hover rule for active links to maintain red */
nav :hover {
    background-color: #ffcccc;
    color: #cc0000;
}

/* Add spacer below the fixed navbar */
.navbar-spacer {
    height: 80px; /* Adjust height as needed */
}

nav {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 768px) {
    nav {
        /* Adjust grid layout and padding */
        grid-template-columns: 1fr;
        padding: 1em;
    }
    nav a {
        /* Adjust link padding and font size for mobile */
        padding: 15px 10px;
        font-size: 1em;
    }
}